<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<% if(config.author){ %>
    <meta name="author" content="<%- config.author %>">
<% } %>
<% if(config.subtitle){ %>
    <meta name="subtitle" content="<%- config.subtitle %>">
<% } %>
<% if(config.description){ %>
    <meta name="description" content="<%- config.description %>">
<% } %>
<% if(config.keywords){ %>
    <meta name="keywords" content="<%- config.keywords %>">
<% } %>

<% if(page.evazeapplink){ %>
    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@zappablamma">
    <meta name="twitter:app:name:iphone" content="Evaze">
    <meta name="twitter:app:name:ipad" content="Evaze">
    <meta name="twitter:app:name:googleplay" content="Evaze">
    <meta name="twitter:app:id:iphone" content="1622609861">
    <meta name="twitter:app:id:ipad" content="1622609861">
    <meta name="twitter:app:id:googleplay" content="com.johntringham.Evaze">
    <meta name="twitter:description" content="Can you defeat the maze?">    
    <meta name="description" content="Can you defeat the maze?">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Evaze">
    <meta property="og:url" content="http://blog.seedganggames.com/evaze/index.html">
    <meta property="og:site_name" content="Seed gang games blog">
    <meta property="og:description" content="Can you defeat the maze?">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="http://blog.seedganggames.com/evaze/smallestname_blackbackground.png">
    <meta property="og:image" content="http://blog.seedganggames.com/evaze/screenshot(3).png">
    <meta property="og:image" content="http://blog.seedganggames.com/evaze/screenshot(2).png">
    <meta property="og:image" content="http://blog.seedganggames.com/evaze/screenshot(1).png">
    <meta property="og:image" content="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1654560000&h=76ffee344cdb0e21b2fc5e69f18f1396">
    <meta property="og:image" content="http://blog.seedganggames.com/evaze/downloadongoogleplay.png">
    <meta property="article:published_time" content="2022-06-07T20:14:50.000Z">
    <meta property="article:modified_time" content="2022-06-08T14:54:57.418Z">
    <meta property="article:author" content="John Tringham">
<% } else { %>

    <%- open_graph({twitter_id: "@zappablamma"}) %>

    <% } %>
<!-- <%- page.twitterimg %> -->

<!-- <%- open_graph_powerful() %> -->

<%
var title = page.title;

if (is_archive()){
    title = __('Archive');

    if (is_month()){
        title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
        title += ': ' + page.year;
    }
} else if (is_category()){
    title = __('Category') + ': ' + page.category;
} else if (is_tag()){
    title = __('Tag') + ': ' + page.tag;
}
%>

<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

<%# favicon %>
<% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
<% } %>

<%# font %>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans+SC:wght@300;400;500;700&family=Roboto+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Fredoka&family=Fredoka+One&family=Source+Code+Pro&family=Staatliches&display=swap');
</style>

<%# css list %>
<% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%- url_for(url) %>">
    <% }); %>
<% } %>

<%# javascript list %>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <!-- scripts list from _config.yml -->
    <% theme.scripts.forEach(url => { %>
    <script src="<%- url_for(url) %>"></script>
    <% }); %>
<% } %>

<%# mathjax support %>
<% if(theme.mathjax_enable){ %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<% } %>

<%# valine comment support %>
<% if(theme.valine.enable){ %>
    <script src='https://unpkg.com/valine@1.4.16/dist/Valine.min.js'></script>
<% } %>


