<div class="post-footer">
    <div class="tag-list">
        <% if (page.tags && page.tags.data && page.tags.data.length > 0) {%>
            <% page.tags.data.forEach(function(tag) { %>
                <span class="post-tag">
                    <a href="<%-url_for(tag.path)%>">
                        <%=tag.name%>
                    </a>
                </span>    
            <% }) %>           
        <% } %>
    </div>
    <div class="h-line-primary"></div>
    
    <nav class="post-nav">
        <div class="prev-item">
           <%if (page.prev) {%>
                <div class="fake-icon"><a href="<%=url_for(page.prev.path)%>">←</a></div>
                <div class="post-link">
                    <a href="<%=url_for(page.prev.path)%>"><%-page.prev.title%></a>
                </div>
            <%}%>
        </div>
        <div style="width:10%"></div>
        <div class="next-item">
            <%if (page.next) {%>
                <div class="fake-icon"><a href="<%=url_for(page.next.path)%>">→</a></div>
                <div class="post-link">
                  <a href="<%=url_for(page.next.path)%>"><%-page.next.title%></a>  
                </div>  
            <%}%>
        </div>
    </nav>
</div>
